:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "oxygen mono", monospace;
  --sans: oxygen, san-serif;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  color: var(--white);
  background-color: var(--black);
  font-family: var(--sans);
  font-size: var(--font-size);
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  color: var(--plum);
}
a:hover {
  color: var(--hotmag);
  text-decoration: none;
}
.myintro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
.myintro p {
  line-height: 1.5;
  font-size: 1rem;
}
.myintro .name {
  font-family: var(--mono);
}
.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
}
.myintro h2 {
  font-size: 4rem;
  font-weight: normal;
}
.section-bc {
  background-color: var(--plum);
}
.contact {
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}
.contact p:last-child {
  margin-top: 3rem;
}
/*--nav--*/
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}
nav h1 a {
  font-family: var(--sans);
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}
nav a:hover {
  color: magenta;
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
nav li a span {
  font-size: 150%;
  color: var(--aqua);
}
nav li a span:hover {
  color: magenta;
}
nav li h1 a span {
  font-size: 100%;
}
button {
  background-color: magenta;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--mono);
  text-decoration: none;
}
button:hover {
  background-color: var(--hotmag);
  color: var(--white);
}
@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
/*--footer--*/
footer {
  text-align: center;
  padding: 4rem 0;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}
@media (min-width: 850px) {
  max-width: 1200px;
  margin: 0 auto;
}
/*            projects  1            */
.section-project-bc {
  background-color: var(--dkblue);
}

.projects {
  padding: 4rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
.projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5 * 1.5);
}
.projects h3 {
  color: var(--aqua);
}
.projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}

.parabox {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}

.projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-size: 1rem;
  gap: 1rem;
}

.projects img {
  max-width: 100%;
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--aqua);
  border-top: 1px solid var(--aqua);
  border-radius: 25px;
  padding: 1rem;
}

@media (min-width: 550px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }
  .projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .text {
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }
  .projects ul {
    justify-content: flex-end;
  }
  
  
}
